html{
  font-size: 16px;
}

body{
  height: auto;
  font-family:
}

.container{
  max-width: 960px;

}

/* this is for header section */

.headline .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  flex-direction: column;
  height: 4rem;
  width: cover;
  background-color:rgba(30, 18, 22, 0.5);

}

.headline .logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;

}

.headline .logo img{
  padding-left: 1.5rem
  height: 1.5rem;
  width:

}

.headline .logo span{
  display: inline;
  color: rgba(236, 236, 236, 1.0);
  font-family: Source Serif Pro, Helvatica;
  font-size: 2rem;

}

.headline .navigation{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  }

  .headline .navigation nav ul{
    display: flex;
    padding-right: 2rem;
  }

  .headline .navigation nav ul li{
    list-style-type: none;
    color: white;
    font-size: 1rem;
    padding-right: 1rem;
  }

  .headline .sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headline .iclogin img{
    display: inline;
  }

.headline .iclogin span{
  background-color: rgba(236, 236, 236, 1.0);
  width: 4rem
  color: rgba(30, 18, 22);
  font-weight: normal;
  border-radius: 0.4;
  border: 1px solid beige;
  font-size: 2rem;
  line-height: 1.2;
}



.headline .login span:hover {
  background-color: rgba(236, 236, 236, 1.0);
}

/* main section */
.main{

  background-size: cover;
  background-position: center;
}


.main .container{
  display:
  background-color: rgba(212, 210, 166, 0.4);
  display: flex;
}

.main .container nav{
  width:100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(204, 159, 166, 1.0);

}

ul{
  display: inline-flex;



}

.main .container nav ul li{
  color: rgb(0,0,0)
  font-family: source serif pro; Helvatica;
  font-size: 1.5rem;
}


/* banner section */

.banner{

  background-image: url("./Users/JOYZH/Colmar/resources/images/banner.jpg");
  height: 10rem;
  width: auto;
}







/* video section */





/* footer section*/
