html{
  font-size: 16px;
}

body{
  height: auto;
  margin: 0 auto;
}


.container{
  background-size: cover;
  background-color: rgba(242,240,239,0.8);
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  align-content: center;



}

/* this is for header section */

.headline{
  background-color: rgba(137, 121, 93 ,1.0);
  background-position: center;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  position: fixed;
  display: flex;
justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;



}

.headline .logos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex-basis: auto;
  margin-left: 1.5rem;
}

 .headline .logos .logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 33%;
  margin-left: 1.5rem;
    flex-basis: auto;
    height: auto;


}



.headline .logos .logo .svg{
  height: 2.5rem;
  width: 2.5rem;
}


.headline .logos .logo img{
  display: flex;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;




}

.headline .logos .logo span{
  display: inline;
  flex-wrap: nowrap;
  justify-content: center;
  height: auto;
  width: 70%;



}



.headline .logos .logo .colmar{
 font-size: 2.0rem;
   color: rgba(236, 236, 236, 1.0);
     font-family: Source Serif Pro, Helvatica;
   }

.headline .logos .logo a{
  font-size: 1.5rem;
  font-weight: 400;
    color: rgba(236, 236, 236, 1.0);
      font-family: Source Serif Pro, Helvatica;

}










 .headline .sign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-right: 1.5rem;


  }

   .headline .sign img{
    display: block;
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
  }

 .headline .sign span{
  background-color: rgba(0, 0, 0, 0.8);
  width: auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: rgba(245, 245, 245, 1.0);
  font-weight: normal;
  border-radius: 0.5;
  border: 2px solid black;

}



.sign span:hover {
  color: rgba(195, 178, 76, 1.0);
}

.headline .sign span .btn{
  font-size: 2rem;

}


@media only screen and (max-width: 480px){



  .headline{
    height: 64px;

    }

    .headline .logos .logo span{
      display: none;
    }

  .headline .logos .logo a{
      display: none;
    }

  .headline .logos .logo .colmar{
    display: none;
}
}







/* banner section */



.banner {
  background-color: beige;
  width: 100%;
margin-top: 1.5rem;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row;
flex-wrap: nowrap;
align-self: flex-start;




}

 .banner .ban {
  display: flex;
  margin-top: 4.5rem;
  width; 60%;
  height: auto;
  justify-content: center;
  align-items: center;




}

.banner .ban img{
  display: block;
  width: 95%;
  height: 30rem;
  padding: 1.5rem;

}

 .banner .slogan{
  display: block;
  width: 40%;
  padding-left: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  height: inherit;

}

 .banner .slogan h1{
  text-align: left;
  font-size: 3rem;
  color: black;
  width: auto;



}


 .banner .slogan p{
   padding-top: 1.5rem;
  text-align: left;
  color: black;
  font-size: 1.5rem;
  font-size: source Serif pro;
  line-height: 1.8;
  padding-right: 1rem;


}
.banner .slogan span {
  background-color: black;
  display: block;
  text-align: center;
  width: 95%;
  height: auto;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: source serif pro;

}

@media only screen and (max-width: 480px){

  .banner{
   flex-flow: row;
   justify-content: center;
     flex-wrap: wrap;


  }

  .banner .ban{
    width: 100%;
    display: block;


  }

  .banner .slogan {
    width: 100%;
    display: block;

  }

    .banner .slogan span{
      padding-top: 1.5rem;
      padding-bottom: 2rem;
    }



}







/* main section */



.main{
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(192, 168, 129, 0.6);
  align-self: baseline;
  height: auto;




}

 .main .about{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  align-self: flex-start;
  height: auto;



}

.main .about .pic{
  width: auto;
  display: block;
  padding-top: 2rem;
  padding-left: 1.5rem;
  height: auto;


}

.main .about .pic img{
   width: 90%;
   height: 28rem;

}

.main .about .career{
  display: block;
  width: inherit;
  height: auto;
  margin-left: 1.5rem;
  padding-top: 1.0rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  text-align: left;
}

 .about h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  padding-bottom: 1.0rem;
  text-align: left;

}

.about p{
  font-size: 1.5rem;
  color: dimgrey;
  line-height: 1.2;
  text-align: left;



}
.about .career span{
  display: inline-block;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: left;

}


.main .information{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex-wrap: nowrap;
  height: inherit;
  align-self: flex-start;
  padding-top: 1rem;
  flex-shrink: 1;



}

 .main .information .info{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: nowrap;
   width: 100%;
   height: auto;
    align-self: flex-start;

}


 .information .info .orientation{
  display: block;
  width: 35%;
  height: auto;
  margin: 0;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;


  }

  .information .info .campus{
   display: block;
   width: 35%;
   height: auto;
   margin: 0;
   padding-right: 1rem;
   padding-bottom: 1rem;
   padding-top: 1rem;


   }

   .information .info .lecture{
    display: block;
    width: 35%;
    height: auto;
    margin: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;


    }

.info img{
  width: 100%;
  height: auto;



}

 .information .info .description{
  width: 65%;
  display: inline-block;
  text-align: center;
  padding-left: 1.5rem;

}

.main .information .info .description h3{
  display: block;
  font-size: 2rem;
  color: black;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main .information .info .description p{
  font-size: 1.5rem;
  width: auto;
  text-align: left;
  padding-bottom: 1rem;

}

.main .information .info .description span{
  display: inline;
  font-size: 1.8rem;
  text-align: left;
  font-style: italic;
 color: rgba(194, 90, 44, 0.8);
}


span .read{


}

@media only screen and (max-width: 480px) and
(orientation: portrait){

  .main .about {
    display: none;
  }


     .main .information .info{
       flex-wrap: wrap;
     }


}





/* start learn section */

.catloges{
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
background-color: rgba(192, 168, 129, 0.6);


}

 .catloges .title{
  display: inline;
  background-color: rgba(96, 91, 74, 0.7);
  text-align: center;
  width: 100%;



}

.catloges .title h1{
  color: rgba(234, 242, 242, 1.0);
  font-size: 4rem;
  font-family: sourece serif pro;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.5;

}

.catloges .courses{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
align-self: baseline;


}

.catloges .courses .catloge{
  background-color: beige;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 30%;
  height: 28rem;
  text-align: left;
  margin-bottom: 2.5rem;
  margin-right: 2rem;



}


.catloges .courses .catloge .pic{
     display: block;
     width: auto;
     height: auto;
    margin: 0 auto;
     align-self: baseline;

}


.catloges .catloge img{
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 1rem;


}

.catloges .courses .catloge .summery{
  display: inline;
  width: auto;
  height: auto;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: source sans-serif pro;

}

.catloges .courses .catloge .summery h3{
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  color: rgba(0, 0, 0, 1.0);

}

.catloges .courses .catloge .summery h5{
  font-size: 2rem;
  color: rgba(88,88,88,1.0);

}

  .catloges .courses .catloge .summery p{
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    line-height: 1.2;
    color: rgba(88,88,88,1.0);
}


@media only screen and (max-width: 480px) and
(orientation: portrait){
  .catloges .title{
    padding-top: 2rem;
     padding-bottom: 1rem;
  }
  .catloges .courses .catloge .pic{
    display: none;
  }
.catloges .courses .catloge{
  height: auto;
}

.catloges .courses .catloge .summery h3{
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  height: auto;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  line-height: 1;

}

}



/* video section */

.more{
  background-color: rgba(250, 240, 214, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 100%;

}

.more .title{
  display: inline;
  width: 100%;
  text-align: center;

  }
.more .title h1{
  font-size: 4rem;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.more .videos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;


}

.more .videos .video{
display: inline-flex;
justify-content: flex-start;
align-items: center;
  height: auto;
  width: 60%;
  flex-flow: column;
  flex-wrap: nowrap;
  margin-top: 0;


}
.more .videos video{
  height: 35rem;
  width: 90%;
  padding-top: 0;


}
.more .videos .video .urban{
  display: inline-block;
  width: inherit;
  text-align: left;
  margin-top: 0;
}


.more .videos .video .urban h3{
  font-size: 2rem;
  font-weight: bold;
  font-family: source serif pro;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.more .videos .video p{
  font-size: 1.2rem;
  line-height: 1;
  font-family: source serif pro;
  padding-bottom: 1rem;

}


.more .videos .thesis{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  align-self: baseline;
  margin-top: 4rem;
  margin-bottom: 1rem ;



  }

  .more .videos .thesis .fisma{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(134,129,95,0.6);


  }

.more .thesis .fisma .pic{
    display: flex;
    align-items: flex-start;
    align-items: center;
    width: 35%;
    margin-right: 1rem;

  }
  .more .thesis .fisma .pic img{
    width: 100%;
   height: auto;
    padding: 1rem;

  }


  .more .thesis .fisma .description{
   display: inline-block;
   width: 65%;
   text-align: center;
}

.more .thesis .fisma .description h3{
  font-size: 2rem;
  color: black;
  text-align: center;


    }

  .more .thesis .fisma .description p{
    font-size: 1.5rem;
    color: dimgrey;
    line-height: 1;



  }

  @media only screen and (max-width: 480px) and
  (orientation: portrait){
 .more .title{
   padding-top: 2rem;
   padding-bottom: 1rem;
 }
    .more .videos{
      flex-wrap: wrap;
    }
    .more .thesis{
      display: none;


    }
  }







/* footer section*/

.foot{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;

}

.foot .copyright{
  display: inline;
  font-size: 1.5rem;
  text-align: center;


}

.foot .copyright p{
  color: white;
  font-size: 1rem;
  padding-left: 2.5rem;
}


.foot .term{
  display: inline;
}


.foot ul{
  display: inline;

}

.foot ul li{
  display: inline;
  color: white;
  font-size: 2rem;
  padding-right: 3rem

}

@media only screen and (max-width: 480px){
  .foot{
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
